{
	admin off
}

:80

root * /srv
file_server {
	disable_canonical_uris
}

handle_errors {
	@404 expression {http.error.status_code} == 404
	rewrite * /404.html
	file_server {
		disable_canonical_uris
	}
}
