{{ define "main" }}
    <div id="banner">
        {{- partial "nav.html" . -}}

        <div class="Grid -middle -center">
            <div class="Cell -12of12">
                <h1>Hey!</h1>
                <p>I'm a developer working for METRO.digital as a Cloud Engineer.
</p>
            </div>
        </div>

        <img src="/img/snake.png" class="snake" />
    </div>
    
    <div id="about-me" class="container narrow">
        <div class="Grid">
            <div class="Cell -5of12">
                <img src="/img/portrait.png" id="main-portrait" alt="Portrait" width="250px">
            </div>
            <div class="Cell -7of12">
                <h2>About me</h2>

                <img src="/img/portrait.png" id="mini-portrait" alt="Portrait" width="250px">

                <p>
                {{ $birthday := time "1998-01-09" }}
                {{ $age := sub now.Year $birthday.Year }}
                {{ if lt now.YearDay $birthday.YearDay }}
                    {{ $age = sub $age 1 }}
               {{ end }}
               I'm Marius Kießling, a {{ $age }}-year-old developer from Dortmund, Germany, now living in Düsseldorf. I currently work for METRO.digital as a <strong>Cloud Engineer</strong>. I am also <strong>responsible for the open source program</strong> of METRO.digital. I <strong>studied applied computer science</strong> while working for Hewlett Packard Enterprise. After that, I joined METRO|NOM where I <strong>built and operated their in-house Kubernetes stack</strong>. In my current position at METRO.digital, my team and I <strong>ensure that METRO's complete Google Cloud footprint is in compliant with our security policies</strong>, allowing teams to securely deploy their applications. My <a href="https://www.linkedin.com/in/mariuskiessling/">LinkedIn profile</a> has a more in-depth resume in case you are interested.
                </p>
                <p>
                    If you want to find out more about my personal work, check out the projects section.
                </p>
                <p>
                Feel free to contact me with any questions!
                </p>
            </div>
        </div>
    </div>
{{ end }}
