<div class="container narrow">
    <div id="content">
        <footer class="Grid -center -middle">
            <div class="Cell">
                <p>
                <span class="title">Disclaimer:</span>
                The opinions expressed on this website and any social media sites do not reflect the views of my employer.
                </p>
            </div>
            <div class="Cell -fill"></div>
            <div class="Cell"><a href="/impressum">Impressum</a></div>
        </footer>
    </div>
</div>
