<nav class="Grid -middle">
    {{ if not .IsHome }}
    <div class="Cell no-animation"><a href="/">🏡</a></div>
    {{ end }}

    <div class="Cell -fill"></div>

    <div class="Cell"><a href="/impressum">Impressum</a></div>
    <div class="Cell social-icon">
        <a href="https://github.com/mariuskiessling" target="_blank">
            <img src="/img/github_logo.svg" height="32px" alt="GitHub" />
        </a>
    </div>
    <div class="Cell social-icon">
        <a href="https://kiessling.social/@marius" rel="me" target="blank">
            <img src="/img/mastodon_logo.svg" height="28px" alt="Mastodon" />
        </a>
    </div>
    <div class="Cell social-icon">
        <a href="https://twitter.com/shaping" target="blank">
            <img src="/img/twitter_logo.svg" height="28px" alt="Twitter" />
        </a>
    </div>
</nav>
